body {
        min-height: 100vh;
        background: #52B765;
        background: -moz-radial-gradient(center, #52B765 0%, #3B8449 0%, #19381F 100%);
        background: -webkit-radial-gradient(center, #52B765 0%, #3B8449 0%, #19381F 100%);
        background: radial-gradient(ellipse at center, #52B765 0%, #3B8449 0%, #19381F 100%);
        color: #EEE82C;
        font-family: 'Arvo', serif;
        }

  .container {
    display: grid;
    grid-gap: 30px;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 100px;
    padding: 10px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #19381f;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
  }

  .navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18;
    font-weight: 700;
    margin: 25px;
    vertical-align: middle;
}

.bitcorn {
  width: 10%;
  height: 10%;
  margin-left: 60px;
  border: 3px solid black;
}

.content-text {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 30px;
}

.content-image {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 50px;
}

.footer {
  height: 150px;
  display: grid;
  background-color: #333;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* @media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  } */

